.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	margin: 10px;
	padding: 20px;
	width: 100%;
	font-weight: 500;
	line-height: 1.5rem;
	max-height: 400px;
	min-width: 100px;
	background-color: #fff;
	color: rgb(133, 126, 126);
	z-index: 1;
}

.product > img {
	max-height: 200px;
	width: 100%;
	object-fit: contain;
	margin-bottom: 15px;
}

.product > button {
	background: #f0c14b;
	border: 2px solid #111;
	border-radius: 3px;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
	color: #111;
	font-weight: 700;
}

.product__price {
	margin-top: 15px;
}

.product__info {
	height: 100px;
	width: 100%;
	margin-bottom: 15px;
}

.product__rating {
	display: flex;
}
